.dropdown{
   border: 1px solid  black;
   width: 10rem;
   height: 2.2rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
.container{
    font-size: 1rem;
    outline: none;
    border: 0px solid  rgb(255, 94, 140);
}